<!DOCTYPE html>
<html>
<head>
    <title>Clasificación de Sentimientos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- Agrega la referencia a la librería Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Clasificación de Sentimientos</h1>
        <p>Este sitio web es capaz de realizar un análisis de sentimientos de un video/short de youtube. Para lo cual se tiene que ingresar la url y presionar en clasificar</p>
        <div class="row">
            <div class="col-md-6">
                <form id="formulario">
                    <div class="mb-3">
                        <label for="url" class="form-label">Ingrese la url del video:</label>
                        <textarea class="form-control" name="url" id="url" cols="40" rows="1"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Clasificar</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2 class="mb-3">Resultados:</h2>
                <div>
                    <h3 class="mb-3">Gráfico de Pastel</h3>
                    <canvas id="grafico-pastel" max-width="400" max-height="200"></canvas>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-3">Comentarios positivos:</h3>
                    <ul class="list-group" id="lista-positivos"></ul>
                </div>
                <div class="col-md-6">
                    <h3 class="mb-3">Comentarios Negativos:</h3>
                    <ul class="list-group" id="lista-negativos"></ul>
                </div>
            </div>           

        </div>
    </div>

    <script>
        document.getElementById('formulario').addEventListener('submit', function(event) {
            event.preventDefault();

            const url = document.getElementById('url').value;
            
            if(url.trim().length !== 0){
                
                const id_video = getYoutubeId(url);
                console.log("id video: ",id_video);


                if(!id_video){
                    alert("Video no encontrado")
                    return;
                }

                const formData = new FormData();
                formData.append('videoId', id_video);

                fetch('/procesar', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {

                    // Mostrar gráfico de pastel
                    const graficoPastelElement = document.getElementById('grafico-pastel');
                    new Chart(graficoPastelElement, {
                        type: 'pie',
                        data: {
                            labels: ['Positivo', 'Negativo', 'Neutro'],
                            datasets: [{
                                data: [data.positivo, data.negativo, data.neutro],
                                backgroundColor: ['green', 'red', 'blue'],
                            }]
                        },
                        options: {
                            responsive: false,
                            maintainAspectRatio: false,
                            title: {
                                display: true,
                                text: 'Resultados de Sentimiento'
                            }
                        }
                    });
                    
                    // Obtener referencias a las listas en el HTML
                    const listaPositivosElement = document.getElementById('lista-positivos');
                    const listaNegativosElement = document.getElementById('lista-negativos');

                    // Limpiar las listas antes de agregar nuevos elementos
                    listaPositivosElement.innerHTML = '';
                    listaNegativosElement.innerHTML = '';

                    // Recorrer la lista de comentarios positivos y agregar elementos a la lista
                    data.lista_positivos.forEach(comentario => {
                        const liElement = document.createElement('li');
                        liElement.textContent = comentario;
                        listaPositivosElement.appendChild(liElement);
                    });

                    // Recorrer la lista de comentarios negativos y agregar elementos a la lista
                    data.lista_negativos.forEach(comentario => {
                        const liElement = document.createElement('li');
                        liElement.textContent = comentario;
                        listaNegativosElement.appendChild(liElement);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }else{
                alert("Ingrese una url")
            }

            
        });

        // saca el id de un video de Youtube
        function getYoutubeId(url) {
            var video_id;
            if (url.includes('youtube.com/shorts/')) {
                var pieces = url.split('youtube.com/shorts/');
                video_id = pieces[1];
            } else {
                url = url.split('v=')[1];
                if (url !== undefined) {
                    var ampersandPosition = url.indexOf('&');
                    if (ampersandPosition != -1) {
                        video_id = url.substring(0, ampersandPosition);
                    } else {
                        video_id = url;
                    }
                }
            }
            return video_id;
        }

    </script>
</body>
</html>